<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

  <div
    style="width: 100vh; height: 100vh; display: flex; align-items: center; justify-content: center"
  >
    <a href="{% url 'social:begin' 'github' %}">
      <button>GitHub</button>
    </a>
  </div>

</body>
</html>